{
    "presets": [
      "@babel/preset-react",
      ["latest", {
          "es2015": {
            "modules": false
          }
        }
      ]
    ],
    "plugins": ["@babel/external-helpers"]
  }